* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}


header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 40px 0;
}

header div.intro-chunk {
  padding: 0 16px;
}

header h1 {
  margin-bottom: 40px;
}

.max-width-wrapper {
  max-width: 1200px;
  margin: 0 auto;

}

header p strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  padding: 40px 0;
  background-color: hsl(0deg, 0%, 60%);
}

main section {
  max-width: 900px;
}

main section .card {
  background-color: white;
  padding-top: 8px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

main section .card h2 {
  background-color:hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin: 0;
  padding: 16px 24px;
  margin-left: -8px;
  max-width: 400px;
}

main section p {
  padding: 0 16px;
}
